name: Dev Containers CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  cli:
    name: CLI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@microsoft'
    - name: Install Dependencies
      run: yarn install --frozen-lockfile
    - name: Type-Check
      run: yarn type-check
    - name: Lint
      run: yarn lint
    - name: Package
      run: yarn package
    - name: TGZ name
      run: |
        VERSION=$(jq -r '.version' < package.json)
        echo "TGZ=devcontainers-cli-${VERSION}.tgz" | tee -a $GITHUB_ENV
        echo "TGZ_UPLOAD=devcontainers-cli-${VERSION}-${GITHUB_SHA:0:8}.tgz" | tee -a $GITHUB_ENV
    - name: Store TGZ
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.TGZ_UPLOAD }}
        path: ${{ env.TGZ }}
  tests-matrix:
    name: Tests Matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mocha-args: [
          "src/test/container-features/e2e.test.ts",
          "src/test/container-features/featuresCLICommands.test.ts",
          "src/test/container-features/containerFeaturesOrder.test.ts",
          "src/test/cli.build.test.ts",
          "src/test/cli.exec.buildKit.1.test.ts",
          "src/test/cli.exec.buildKit.2.test.ts",
          "src/test/cli.exec.nonBuildKit.1.test.ts",
          "src/test/cli.exec.nonBuildKit.2.test.ts",
          "src/test/cli.test.ts",
          "src/test/cli.up.test.ts",
          "src/test/container-features/containerFeaturesOCIPush.test.ts",
          # Run all except the above:
          "--exclude src/test/container-features/containerFeaturesOCIPush.test.ts --exclude src/test/container-features/e2e.test.ts --exclude src/test/container-features/featuresCLICommands.test.ts --exclude src/test/container-features/containerFeaturesOrder.test.ts --exclude src/test/cli.build.test.ts --exclude src/test/cli.exec.buildKit.1.test.ts --exclude src/test/cli.exec.buildKit.2.test.ts --exclude src/test/cli.exec.nonBuildKit.1.test.ts --exclude src/test/cli.exec.nonBuildKit.2.test.ts --exclude src/test/cli.test.ts --exclude src/test/cli.up.test.ts 'src/test/**/*.test.ts'",
        ]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@microsoft'
    - name: Install Dependencies
      run: yarn install --frozen-lockfile
    - name: Type-Check
      run: yarn type-check
    - name: Package
      run: yarn package
    - name: Run Tests
      run: yarn test-matrix --forbid-only ${{ matrix.mocha-args }}
  tests:
    name: Tests
    needs: tests-matrix
    runs-on: ubuntu-latest
    steps:
    - name: Done
      run: echo Test Matrix done.
